.dropdown-menu div {
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.15s ease;
  border-radius: 10px;
  color: #fff;
}

.dropdown-menu .selected {
  background: rgba(255, 255, 255, 0.1);
  font-weight: bold;
  color: #fff;
}
